* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr 3fr;
  padding-top: 16px;
}

/*********************HEADER *************************/

#header {
  grid-column: 2/5;
  display: grid;
  grid-template: repeat(3, 1fr) / 2fr 1fr;
  border-bottom: 1px solid #999;

}
#top-left {
  grid-area: 1/1/2/3;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
#top-left #search-icon img {
  width: 60%;
}
#top-left #search-bar input {
  width: 550px;
  height: 25px;
  border-radius: 30px;
  border: none;
  background-color: rgb(219, 219, 219);
}
#top-right {
  grid-area: 1/3/2/4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}
#notification img{
  width: 20px;
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
#notification, #username, .avatar {
  margin-left: 16px;
}
#username, #left-content p {
  font-weight: 800;
}

#bottom-left {
  grid-area: 2/1/4/2;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
#bottom-left #dp img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
#left-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#left-content p:nth-child(2) {
  font-size: 25px;
  margin-top: 5px;
}
#bottom-right {
  grid-area: 2/2/4/4;
  display: grid;
  grid-template: 1fr / repeat(5,1fr);
  align-items: center;
  padding: 0;
}

#bottom-right button {
  width: 90%;
  height: 35%;
  border: none;
  border-radius: 30px;
  background-color: rgb(38, 143, 230);
  color: #fff;
  font-weight: 900;
}
#bottom-right button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.elipsis {
  color: #fff;
}



/******************** SIDEBAR ************************/
#sidebar {
  grid-row: 1/4;
  border-right: 1px solid #999 ;
}


/******************** CONTENT ***********************/

#content {
  background-color: rgb(219, 219, 219);
}
#content-header {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  padding-top: 15px;
  padding-left: 15px;
  font-weight: 900;
}
#content-header div:nth-child(2) {
  padding-left: 15px;
}
#content-body {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
}
#projects {
  grid-column: 1/2;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  padding: 15px;
  gap: 15px;
}
#features {
  grid-column: 2/3;
  display: grid;
  grid-template: 1fr 1fr/ 1fr;
  gap: 20px;
  padding: 15px;
}
.project {
  background-color: white;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-left: 6px solid goldenrod;
  padding: 20px;
  
}
#announcements {
  grid-row: 1/2;
  display: grid ;
  background-color: #fff;
  margin-right: 16px;
  border-radius: 5px;
  align-items: center;
  justify-content: left;
  padding: 20px;
}
hr {
  color: 1px solid #999;

}
.project-title {
  font-size: 16px;
  font-weight: 900;
}
.ann {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 3px;
}
.announcements {
  padding: 10px 15px 15px 15px;
  font-size: 12px;
}
#trending-title {
  font-weight: 900;
  padding-bottom: 15px;
}
#trending-content {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  margin-right: 16px;
  border-radius: 5px;
}
.trends {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
}
.trends .avatar {
  grid-area: 1/1/3/2 ;
  margin-right: 10px;
}
.trends .uname{
  font-weight: 800;
  padding: 2px;
  font-size: 16px;
}
.trends .job {
  padding: 2px;
  font-size: 12px;
}